<div class="page-top">
<h1 class="main-heading">Students</h1>
</div>
<% @students.each do |student| %>
<p>Name: <%=student.first_name%> <%=student.last_name %></p>
<P>House: <%=student.house%></p>
<p>Age: <%=student.age%> </p>
<hr/>
<% end %>
